{% extends 'content/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href= "../static/css/eventos.css">
        <div id="definicao">
            <div class="conceito">
                <h1>Eventos</h1> 
            </div>
            <div class="bonecas-pl">
                <div class="boneca-pl-pb">
                    <img src="{% static 'content/images/logo-mascara-pyladies-pb.png' %}" alt="imagem boneca pyLadies Paraíba com máscara" id="bonequinha-pl-pb">
                </div>
            </div>
        </div>
    </header>
    <!--Carrossel-->
    <div id="slider">
        <input data-target="#myCarousel" type="radio" name="slider" checked>
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <!-- <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider">
        <input data-target="#myCarousel" type="radio" name="slider"> -->
        <div id="slides">
            <div id="overflow">
               <div class="inner">
                  <div class="slide slide_1">
                     <div class="slide-content">
                    {% for evento in eventos %}
                        <div class="events-container" id="archive">
                            <ul class="grid">
                                <li>
                                    <a href="{{ evento.link }}" target="_blank">
                                        <div class="month">
                                            {{ evento.titulo }}
                                        </div>
                                        <div class="day">
                                            {{ evento.data_inicial }}
                                        </div>
                                        <div class="local">
                                            {{ evento.local }}
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
               </div>
            </div>
         </div>
         <div id="controls">
            <label for="#myCarousel"></label>
            <label for="#myCarousel"></label>
            <label for="#myCarousel"></label>
            <!-- <label for="slide4"></label>
            <label for="slide5"></label>
            <label for="slide6"></label>
            <label for="slide7"></label>
            <label for="slide8"></label>
            <label for="slide9"></label>
            <label for="slide10"></label>
            <label for="slide11"></label>
            <label for="slide12"></label> -->
         </div>
         <div id="bullets">
            <label for="#myCarousel"></label>
            <label for="#myCarousel"></label>
            <label for="#myCarousel"></label>
            <!-- <label for="slide4"></label>
            <label for="slide5"></label>
            <label for="slide6"></label>
            <label for="slide7"></label>
            <label for="slide8"></label>
            <label for="slide9"></label>
            <label for="slide10"></label>
            <label for="slide11"></label>
            <label for="slide12"></label> -->
         </div>
      </div>    
{% endblock %}